* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top{
  background-color: #1080b4;
  padding-top:6px;
  padding: auto;
  color: white;

}
.top p{
  font-size: 18px;
}
.social{
  font-size: 20px;
  text-align: right;
  padding-right: 8px;
}
.social a{
  color: rgb(253, 252, 250);
}
/* Just for styling */
.styling {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  /* height: 150px;
  overflow: auto; */
}
.order_panel{
  background-image: url(../images/shirt.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}
.order_panel_child{
  padding-top:30px;
  background-color:rgba(238, 241, 243, 0.6);
  border-radius: 12px;
  width: 100%;
  height: 700px;
}
.label{
  font-size: 70px;
}
#non_select,#shirt, #paint, #suit {
  display: none;
}
#vendor{
  padding:8px;
  background:rgb(183, 211, 223);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #050505;
  cursor: pointer;
}
#vendor:hover{
  color: #043f5a;
  background-color: rgb(80, 196, 211);
}
#cust_id{
  width: 150px;
  height: 45px;
  border:2px solid #aaa;
  border-radius: 6px;
  margin: 2px 0;
  outline:none;
  border-sizing:border-box;
  transition:.3s;
  font-size: 18px;

}
#cust_name{
  width: 500px;
  height: 45px;
  border:2px solid #aaa;
  border-radius: 6px;
  margin: 8px 0;
  outline:none;
  border-sizing:border-box;
  transition:.3s;
  font-size: 18px;
}
#cust_name:hover{
  box-shadow: 1px 3px rgb(5, 5, 5);
}
#del_date{
  margin-left: 400px;
  width: 100px;
  height: 45px;
  border:2px solid #aaa;
  border-radius: 6px;
  outline:none;
  border-sizing:border-box;
  transition:.3s;
  font-size: 18px;
}
#del_date:hover{
  box-shadow: 1px 3px rgb(19, 20, 20);
}
#mobile:hover{
  box-shadow: 1px 3px rgb(15, 15, 15);
}
#mobile{
  width: 250px;
  height: 45px;
  border:2px solid #aaa;
  border-radius: 6px;
  outline:none;
  border-sizing:border-box;
  transition:.3s;
  font-size: 18px;
} 
#type{
  padding:8px;
  background:rgb(183, 211, 223);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #050505;
  cursor: pointer;
}
#type:hover{
  color: #043f5a;
  background-color: rgb(80, 196, 211);
}
.cardd{
  width: 120px;
  font-weight: 700;
  border: none;
}
#shirt_height{
  width:80px;
  height:35px;
  outline: none;
  font-size: 20px;
  text-align: center;

}
.btn-reset{
  padding-top: 6px;
  background-color: rgb(223, 44, 44);
  color: white;
  font-size: 25px;
  width: 150px;
  height: 60px;
  margin-top: 8px;
  margin-right: 2px;
}
.btn-save{
  padding-top: 6px;
  background-color: rgb(37, 212, 61);
  color: white;
  font-size: 25px;
  width: 150px;
  height: 60px;
  margin-top: 8px;
  margin-left: 2px;

}
#height,#back_height,#shoulder,#chest,#neck,#sleev,#fix,#stomach,#seat{
  text-align: center;
  font-size: 25px;
  width: 115px;
  height: 35px;
  border: none;
}