*:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  background-color: #1080b4;
  padding-top: 6px;
  padding: auto;
  color: white;
}
.top p {
  font-size: 18px;
}
.social {
  font-size: 20px;
  text-align: right;
  padding-right: 8px;
}
.social a {
  color: rgb(253, 252, 250);
}
/* Just for styling */
.styling {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  /* height: 150px;
  overflow: auto;*/
}
.order_panel {
  background-image: url(../images/shirt.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 90px;
  padding-bottom: 90px;
}
.order_panel_child {
  padding-top: 30px;
  background-color: rgba(238, 241, 243, 0.9);
  border-radius: 12px;
}
.label {
  font-size: 70px;
}

#height,
#quantity,
#shoulder,
#chest,
#sleev,
#neck,
#bh,
#fix,
#stomach,
#seat,
#cuff,
#collar {
  width: 80px;
}
#rem.prem {
  width: 530px;
}
#pheight,
#pquantity,
#pseat,
#waist,
#thighs,
#bottom,
#fh,
#sh,
#pbh,
#kn,
#plates,
#pocket {
  width: 80px;
}
.photo {
  width: 150px;
  height: 150px;
}
