*:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top{
  background-color: #1080b4;
  padding-top:6px;
  padding: auto;
  color: white;

}
.top p{
  font-size: 18px;
}
.social{
  font-size: 20px;
  text-align: right;
  padding-right: 8px;
}
.social a{
  color: rgb(253, 252, 250);
}
/* Just for styling */
.styling {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
 /* height: 150px;
  overflow: auto;*/
}
.order_panel{
  background-image: url(../images/shirt.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 90px;
  padding-bottom: 90px;
}
.order_panel_child{
  padding-top:30px;
  background-color:rgba(238, 241, 243,0.9);
  border-radius: 12px;
  width: 100%;
  height:100%
}
.label{
  font-size:70px;
}
/*#myModal{
  width:80%;
  max-width: fit-content;
}
.modal-content{
  width: 180%;
  max-width: fit-content;
}
.modal-header{
  width: 100%;
  max-width: fit-content;
}*/
#height,#shoulder,#chest,#sleev,#neck,#bh,#fix,#stomach,#seat,#cuff,#collar{
  width: 90px;

}
#rem{
  width: 290px;
}
